{{!-- <div>
    <h1>Listado de Productos</h1>
    <ul>
        {{#each products}}
            <li>{{title}} - {{price}} - {{stock}}  - {{description}}  - {{code}} </li>
        {{/each}}
    </ul>
</div> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="
